@import "../../vars.scss";

.form-content {
  margin: 5px 80px;

  .period {
    display: flex;
    justify-content: space-between;

    .inputs-area {
      margin: 5px;
    }

    .select-input {
      margin: 5px;

      .arrow {
        top: 60px;
      }

      .arrow.open {
        top: -12px;
      }

      .selected-value input {
        width: 140px;
      }
    }
  }

  .location-row1 {
    display: flex;
    justify-content: space-between;
    .inputs-area {
      margin: 5px;
      width: 110px;
    }

    .trash-bin-icon {
      background: transparent;
      border-color: transparent;
      cursor: pointer;

      margin-top: 50px;
      color: $darkBlue;
    }

    .trash-bin-icon:hover {
      color: red;
    }

    .save-schedule-button:hover{
      color: #04D361;
    }
  }

  .location-row2 {
    display: flex;
    justify-content: space-between;
    .inputs-area {
      margin: 5px;
    }
  }

  .input-label {
    margin-top: 1.2rem;
    font-size: 14px;
  }
}
