@import "../../vars.scss";

.about--container {
    .about--container--one{
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-around;

        
       .left-container{
           width: 50vw;
           padding-left: 100px;
           p {
               width: 80%;
               margin: 0;
               color: $darkBlue;
           }
        }
        .right-container{
           width: 50vw;
           padding-left: 100px;
       }
       .right-container img {
           width: 80%;
           object-fit: contain;
       }
       @media screen and (max-width: 769px){
            height: 45vh;
            .left-container{
                padding-left: 60px;
            }
            .right-container {
                padding-left: 0;
            }
        }

       @media screen and (max-width: 480px){
            flex-wrap: wrap;
            .left-container{
                width: 90vw;
                font-size: .8rem;
                padding-left: 20px;
                p {
                    width: 100%;
                }
            }
            .right-container{
                width: 60vw;
                padding-left: 35px;
                padding-bottom: 50px;
            }
        }
      
   } 
   .about--container--two {
       background-color: $mediumBlue;
       .container-two-content{
            width: 100%;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .left-container {
                width: 50vw;
                padding-left: 100px;
                img {
                    width: 80%;
                    object-fit: contain;
                }
           }
           .right-container{
                width: 50vw;
                padding-left: 100px;
                p {
                    color: $lightBlue;
                    width: 80%;
                    margin: 10px 0 0 0 0;
                }
           }
       }
        .custom-shape-divider-bottom-1624204232 {
            position: absolute;
            bottom: -110px;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }

        .custom-shape-divider-bottom-1624204232 svg {
            position: relative;
            display: block;
            width: calc(132% + 1.3px);
            height: 117px;
        }

        .custom-shape-divider-bottom-1624204232 .shape-fill {
            fill: $mediumBlue;
        }
        @media screen and (max-width: 769px){
            height: 45vh;
            .custom-shape-divider-bottom-1624204232{
                bottom: 402px;
            }
            .container-two-content{
                height: 45vh;
                .right-container{
                    padding-left: 30px;
                }
                .left-container{
                    padding-left: 30px;
                }
            }
        }

        @media screen and (max-width: 480px){
            flex-wrap: wrap;
            .custom-shape-divider-bottom-1624204232{
                display: none;
                bottom: 190px;
                width: 100%;
            }
            .container-two-content{
                flex-direction: column-reverse;
                .left-container{
                    width: 60vw;
                    padding-left: 35px;
                    padding-top: 10px;
                }
                .right-container{
                    width: 90vw;
                    font-size: .8rem;
                    padding-left: 20px;
                    padding-top: 10px;
                    p {
                        width: 100%;
                    }
                }
            }
        }
   }
   .about--container--three{
        width: 100%;
       height: 80vh;
       display: flex;
       align-items: center;
       justify-content: space-around;
       .left-container{
           width: 50vw;
           padding-left: 100px;
           p {
               width: 80%;
               margin: 10px 0 0 0;
               color: $darkBlue;
           }
        }
        .right-container{
           width: 50vw;
           padding-left: 100px;
       }
       .right-container img {
           width: 80%;
           object-fit: contain;
       }
       @media screen and (max-width: 769px){
            height: 45vh;
            .left-container{
                padding-left: 60px;
            }
            .right-container {
                padding-left: 0;
            }
    }

       @media screen and (max-width: 480px){
            flex-wrap: wrap;
            .left-container{
                width: 90vw;
                font-size: .8rem;
                padding-left: 20px;
                p {
                    width: 100%;
                }
            }
            .right-container{
                width: 60vw;
                padding-left: 20px;
            }
        }
   }

}