@import '../../vars.scss';

.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    
    .menu-container{
        margin-top: -30px; 
        margin-left: 120px;   
        @media screen and (max-width: 480px){
            margin: 0;
            margin-top: -25px;
        }
    }

    .header{
        width: 100%;
        padding: 2rem 2rem;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        
        .logo{
            object-fit: contain;
        }
        
        @media screen and (max-width: 480px){
            padding: .5rem;
            .logo {
                width: 50%;
            }
            .return-icon{
                width: 60%;
            }
        }
    }

    .left-container {
        width: 50%;

        background-color: $lightBlue;
        color: $darkBlue;

        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 480px){
            width: 100%;
        }
        .login-container{
            width: 50%;
            @media screen and (max-width: 480px){
                width: 70%;
            }
        }

        h1{
            font-family: $fontTittle;
            text-align: center;
            margin-bottom: 1rem;
            @media screen and (max-width: 480px){
                font-size: 1.5rem;
            }
        }

        .input-container{
            .input-label {
                margin-top: .2rem;
            }
            .btn-secondary--blue{
                margin: 3rem 0;
            }
            .redirect {
                text-align: center;
                @media screen and (max-width: 480px){
                    font-size: .8rem;
                }
            }
            .forgot-password{
                cursor: pointer;
                margin: 0;
                width: 160px;
                position: relative;
                z-index: 1;
                top: 25px;
                left: 185px;
                color: $mediumBlue;
                p{
                    margin: 0;
                }
                @media screen and (max-width: 480px){
                    font-size: .8rem;
                    left: 95px;
                    top: 51px;
                }
            }
            .password-input{
                position: relative;
                .password-icon{
                    position: absolute;
                    right: 10px;
                    top: 45px;
                    color: $darkBlue;

                    cursor: pointer;
                    @media screen and (max-width: 480px){
                        top: 70px;
                    }
                }
            }
            .btn-secondary--blue{
                width: 100%;
                @media screen and (max-width: 480px){
                    position: relative;
                    top: 30px;
                }
            }
            .inputs-area{
                @media screen and (max-width: 480px){
                    position: relative;
                    top: 30px;
                    .input-label {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
    .right-container{
        width: 50%;
        background-color: $mediumBlue;

        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 480px){
            width: 0%;
            .door-guy{
                display: none;
            }
        }
        

        .door-guy {
            width: 70%;
            object-fit: contain;
        }
        
    }
    @media screen and (max-width: 769px){
        .menu-container{
            margin-right: 0;
            margin-left: 50px;
        }
        .left-container{
            .login-container{
                width: 70%;
                .forgot-password{
                    left: 110px;
                }
            }
        }
            .right-container{
                .door-guy {
                    width: 90%;
                }
            }
        }

}