@import '../../vars.scss';

.btn {
    color: $white;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: $fontBody;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    box-shadow: none !important;

    &.btn-primary {
        background-color: $buttonPrimary;
        padding: 15px 30px;
        margin: 10px 5px;
        img {
            margin-right: 5px;
        }
    }
    &.btn-secondary {
        background-color: $buttonPrimary;
        width: 450px;
        height: 50px;
        font-size: 18px;
    }
    &.btn-secondary--blue {
        width: 450px;
        height: 50px;
        font-size: 18px;
        background-color: $mediumBlue;        
    }
    &.btn-secondary--blue:hover {
        background-color: $darkBlue;
        color: $lightBlue;
    }
    &:hover{
        background-color: $lightBlue;
        color: $darkBlue;
    }
}