.menu-container{
   z-index: 1;
   position: relative;
   float: right;
   margin-right: 55px;
   .menu-button{
      position: relative;
      float: right;
      display: flex;
      flex-direction: column;
      margin-left: 35px;
      margin-top: 30px;
      
      li{
         list-style: none;
         background-color: #03256C;
         width: 35px;
         height: 5px;
         margin-top: 4px;
         border-radius: 3px;
         list-style: none;
         transition: all ease 0.2s;
      }
   
      .open:nth-child(1){
         background-color: #0d6efd;
         height: 3px;
         width: 25px;
         transform: rotate(-45deg) translateX(-11px) ;
      }
      
      .open:nth-child(2){
         opacity: 0;
      }
   
      .open:nth-child(3){
         background-color: #0d6efd;
         height: 3px;
         width: 25px;
         transform: rotate(45deg) translateX(-11px);
      }   
      
      .close:nth-child(1){
         transform: rotate(0) translateX(0);
      }
      
      .close:nth-child(2){
         opacity: 1;
      }
      
      .close:nth-child(3){
         transform: rotate(0) translateX(0);
      }   
   }

   .menu-body{
      position: absolute;
      transition: all ease 0.3s;
      z-index: -1;
      margin-top: 26px;
      // display: flex;
      margin-left: -60px;
      .menu-itens{
         cursor: pointer;
         transition: all ease 0.3s;
         display: none;
         background-color: #03256C;
         width: 150px;
         margin-left: -20px;
         margin-right: 35px;
         align-items: center;
         justify-content: center;
         display: flex;
         list-style:none;
         height: 50px;
      }

      
      .menu-itens:hover{
         background-color: #0e5086;
      }
      
      .menu-itens.close{
         opacity: 0;
         transform: translateX(30px);
         cursor: default;
         user-select: none;
         -webkit-touch-callout: none;
      }

      a{
         color: white;
         text-decoration:none;
      }

      .menu-top{
         font-weight: bold;
         font-size: 16px;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: default;
      }
      .menu-top:hover{
         background-color: #03256C;
      }
   }
}