.menu-container{
   z-index: 1;
   position: relative;
   float: right;
   margin-right: 55px;

   @media screen and(max-width: 480px) {
      margin-right: 34px;
      margin-top: -20px;
   }

   .menu-button{
      cursor: pointer;
      position: relative;
      display: flex;  
      align-items: center;
      justify-content: left;
      flex-direction: column;
      margin-top: 30px;
      background-color: white;
      border-radius: 5px;
      width: 38px;
      height: 30px;
      left: -10px;
      padding-top: 7px;
      padding-right: 10px;
      
      @media screen and (max-width: 480px){
         width: 28px;
         height: 25px;
         padding-top: 3px;
      }

      li{
         display: flex;
         background-color: #03256C;
         width: 15.5px;
         align-items: center;
         justify-content: center;
         height: 2.5px;
         margin-top: 2.5px;
         margin-left: 8px;
         border-radius: 3px;
         list-style: none;
         transition: all ease 0.2s;
         @media screen and (max-width: 480px){
            width: 15px;
         }
      }
   
      .open:nth-child(1){
         background-color: #03256C;
         height: 3px;
         width: 20px;
         transform: rotate(-45deg) translateX(-6px) ;
      }
      
      .open:nth-child(2){
         opacity: 0;
      }
   
      .open:nth-child(3){
         background-color: #03256C;
         height: 3px;
         width: 20px;
         transform: rotate(45deg) translateX(-8px);
      }   
      
      .close:nth-child(1){
         transform: rotate(0) translateX(0);
      }
      
      .close:nth-child(2){
         opacity: 1;
      }
      
      .close:nth-child(3){
         transform: rotate(0) translateX(0);
      }   
   }

   .menu-body{
      position: absolute;
      transition: all ease 0.3s;
      z-index: -1;
      margin-top: -37px;
      display: flex;
      margin-left: -130px;

      .menu-itens{
         border-top-color: #D5DFE5;
         border-style: solid none none none;
         border-width: 0.2px;
         cursor: pointer;
         line-height: 10px;
         transition: all ease 0.3s;
         display: none;
         background-color: #FFF;
         width: 180px;
         margin-left: -20px;
         margin-right: 35px;
         align-items: center;
         display: flex;
         list-style:none;
         height: 50px;
         padding-left: 20px;
         
         @media screen and (max-width: 480px){
            width: 140px;
            height: 40px;
            margin-left: 15px;
         }
      }

      .menu-itens:hover{
         background-color: #D5DFE5;
         border-left-color: #03256C;
         border-style: solid none none solid;
         border-width: 0.3px;
         border-left-width: 1,6px;
         font-weight: bolder;
      }
      
      .menu-itens.close{
         opacity: 0;
         transform: translateX(30px);
         cursor: default;
         user-select: none;
         -webkit-touch-callout: none;
      }

      a{
         color: #03256C;
         text-decoration:none;
         @media screen and (max-width: 480px){
            font-size: .8rem;
         }
      }

      .menu-item-top{
         color: #1768AC;
         font-size: 1rem;
         cursor: default;
         border-top-color: white;
         border-top-left-radius: 8px;
         border-top-right-radius: 8px;

         @media screen and (max-width: 480px){
            font-size: .8rem;
         }
      }

      .menu-item-top:hover{
         background-color: #fff;
         font-weight: normal;
         border-left-style: none;
      }

      .menu-item-bottom{
         border-bottom-left-radius: 8px;
         border-bottom-right-radius: 8px;
      }     
 
   }
}

