@import "../../vars.scss";

.full-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-card {
    font-family: $fontBody;
    font-size: 18px;
    color: $darkBlue;
    background-color: $lightGray;
    border-radius: 8px;
    width: 650px;
    height: 500px;
    margin: 80px auto;
    padding: 15px;

    .modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .close-btn {
      font-size: 20px;
      color: $mediumBlue;
      float: right;
      background: unset;
      border: unset;
      cursor: pointer;
    }
  }
}
