@import "../../vars.scss";

.search-content {
  background-color: $lightBlue;
  height: 100%;
  width: 100%;
  .search-results {
    width: 75%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .no-content {
        height: 61vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          text-align: center;
          color: $mediumBlue
        }
      }
  }
  .search-fields {
    display: flex;
    justify-content: center;

    width: 55%;
    margin: 0 auto;
    section {
      margin-right: 30px;
    }

    .input-label {
      color: $white;
      margin-top: -50px;
    }
    padding-bottom: 3rem;

    @media screen and (max-width: 480px) {
      .search-fields {
        display: none;
      }
    }
    @media screen and (max-width: 769px) {
      .search-fields {
        display: none;
      }
    }
  }
}

.modal-message {
  padding: 30px;
}

.door-guy {
  height: 300px;
  padding-bottom: 10px;
}
