@import "../../vars.scss";

.select-input-area {
    display: flex;
    flex-direction: column;

    .select-input-label {
        margin-top: -50px;
        &.select-input-label-white {
            color: $white;
        }
        &.select-input-label-blue {
            color: $darkBlue;
        }
    }

    .select-input-field {
        background-color: $white;
        border: 1px solid $borderColor;
        height: 50px;
        outline: none;
        border-radius: 8px;
        margin-top: 5px;

        padding-left: 10px;
        padding-right: 20px;
        color: $mediumBlue;
        &.select-input-small {
            width: 250px;
        }
        &.select-input-medium {
            width: 100%;
            color: $darkBlue;
        }
    }
}