@import "../../vars.scss";

.form-container {
  position: relative;
  top: -40px;
}

.professional-registration-container {
  height: auto;
  width: 100%;
  background-color: $lightBlue;

  .form-container {
    width: 40%;
    height: 90%;
    margin: 0 auto;
    border: 1px solid $borderColor;
    border-radius: 8px;
    background-color: $white;
    color: $darkBlue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form-top {
      padding: 0.8rem 0 0;
      border-bottom: 1px solid $borderColor;
      margin: 0 2.2rem 0 1.5rem;
      h2 {
        font-family: $fontTittle;
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .form-mid {
      padding: 0.8rem 0 0;
      border-bottom: 1px solid $borderColor;
      margin: 0 2.2rem 0 1.5rem;
      h2 {
        font-family: $fontTittle;
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .form-mid2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.8rem 0 0;
      border-bottom: 1px solid $borderColor;
      margin: 0 2.2rem 0 1.5rem;
      h2 {
        font-family: $fontTittle;
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 0;
      }
      p {
        color: $mediumBlue;
        font-family: $fontTittle;
        font-weight: bold;
        margin-top: 20px;
      }
    }

    .ocupation {
      .dropdown {
        .arrow {
          top: 60px;
        }

        .arrow.open {
          top: -12px;
        }

        .selected-value input {
          background-color: $lightGray;
          width: 377.59px;
        }

        .selected-value.open input {
          background-color: $white;
        }

        .options {
          max-height: 150px;
        }
      }
    }

    .form-content {
      margin: 5px 80px;

      .period {
        display: flex;
        justify-content: space-between;

        .inputs-area {
          margin: 5px;
        }

        .dropdown {
          margin: 5px;

          .arrow {
            top: 60px;
          }

          .arrow.open {
            top: -12px;
          }

          input {
            background-color: $lightGray;
            width: 134px;
          }

          .selected-value.open input {
            background-color: $white;
          }
        }
      }

      .location-row1 {
        display: flex;
        justify-content: space-between;
        .inputs-area {
          margin: 5px;
          width: 110px;
        }

        .trash-bin-icon {
          background: transparent;
          border-color: transparent;
          cursor: pointer;

          margin-top: 50px;
          color: $darkBlue;
        }

        .trash-bin-icon:hover {
          color: red;
        }
      }

      .location-row2 {
        display: flex;
        justify-content: space-between;
        .inputs-area {
          margin: 5px;
        }
      }

      .input-label {
        margin-top: 1.2rem;
        font-size: 14px;
      }
      .type-of-user {
        text-align: center;
        margin: 15px 5px 5px;
        label {
          margin: 15px 40px 15px 5px;
          font-size: 14px;
        }
      }

      textarea {
        border: 1px solid $borderColor;
        border-radius: 8px;
        background-color: $lightGray;
        color: $mediumBlue;
        outline: none;
      }
    }

    .form-bottom {
      display: flex;
      justify-content: space-between;
      background-color: $lightGray;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      padding: 20px;
      .attention-container {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-left: -10px;
        width: 250px;
        .attention-icon {
          color: $mediumBlue;
          font-size: 30px;
        }
        p {
          margin: 0 10px;
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    height: 100%;
    .form-container {
      width: 85%;
      .form-top h2 {
        font-size: 1.2rem;
      }
      .form-mid h2 {
        font-size: 1.2rem;
      }
      .form-mid2 h2 {
        font-size: 1.2rem;
      }
      .form-mid2 p {
        font-size: .8rem;
      }
      .form-content{
        margin: 5px 20px;
          .input-label{
            font-size: .7rem;
            }
            .period{
              flex-wrap: wrap;
              .input-hour {
                width: 220px;
              }
            }     
        }
        .form-bottom {
          .attention-container {
              .attention-icon{
                  font-size: 1.6rem;
              }
              font-size: .7rem;
          }
          .btn-delete, .btn-primary{
            font-size: .6rem;
          }
        }
    }
  }
  @media screen and (max-width: 768px) {
    height: 100%;
    .form-container {
      width: 70%;
      top: -20px;
      .form-top h2 {
        font-size: 1.2rem;
      }
      .form-mid h2 {
        font-size: 1.2rem;
      }
      .form-mid2 h2 {
        font-size: 1.2rem;
      }
      .form-mid2 p {
        font-size: .8rem;
      }
      .form-content{
        margin: 5px 20px;
          .input-label{
            font-size: .9rem;
            }
            .period{
              flex-wrap: wrap;
              .input-hour {
                width: 220px;
              }
            }     
        }
        .form-bottom {
          .attention-container {
              .attention-icon{
                  font-size: 1.6rem;
              }
              font-size: .8rem;
          }
          .btn-delete, .btn-primary{
            font-size: .8rem;
          }
        }
    }
  }
}
