@import "../../vars.scss";

.form-container {
  position: relative;
  top: -40px;
}

.professional-registration-container {
  height: auto;
  width: 100%;
  background-color: $lightBlue;

  .form-container {
    width: 40%;
    height: 90%;
    margin: 0 auto;
    border: 1px solid $borderColor;
    border-radius: 8px;
    background-color: $white;
    color: $darkBlue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form-top {
      padding: 0.8rem 0 0;
      border-bottom: 1px solid $borderColor;
      margin: 0 2.2rem 0 1.5rem;
      h2 {
        font-family: $fontTittle;
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .form-mid {
      padding: 0.8rem 0 0;
      border-bottom: 1px solid $borderColor;
      margin: 0 2.2rem 0 1.5rem;
      h2 {
        font-family: $fontTittle;
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 0;
      }
    }
    
    .no-content {
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          text-align: center;
          color: $mediumBlue
        }
      }

    .form-mid2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.8rem 0 0;
      border-bottom: 1px solid $borderColor;
      margin: 0 2.2rem 0 1.5rem;
      h2 {
        font-family: $fontTittle;
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 0;
      }
      p {
        color: $mediumBlue;
        font-family: $fontTittle;
        font-weight: bold;
        margin-top: 20px;
      }
      .btn-schedule {
        cursor: pointer;
      }

      
    }

    .ocupation {
      .select-input {
        .arrow {
          top: 60px;
        }

        .arrow.open {
          top: -12px;
        }

        .selected-value input {
          width: 100%;
        }

        .options {
          max-height: 150px;
        }
      }
    }

    .form-content {
      margin: 5px 80px;

      .form-insert-password,
      .form-confirm-password {
        position: relative;
        .password-icon {
          position: absolute;
          right: 10px;
          top: 55px;
          color: $darkBlue;

          cursor: pointer;
        }
      }

      .period {
        display: flex;
        justify-content: space-between;

        .inputs-area {
          margin: 5px;
        }

        .select-input {
          margin: 5px;

          .arrow {
            top: 60px;
          }

          .arrow.open {
            top: -12px;
          }

          input {
            width: 134px;
          }
        }
      }

      .input-label {
        margin-top: 1.2rem;
        font-size: 14px;
      }
      .type-of-user {
        text-align: center;
        margin: 15px 5px 5px;
        label {
          margin: 15px 40px 15px 5px;
          font-size: 14px;
        }
      }
      .textarea-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5px 0;
        textarea {
          border: 1px solid $borderColor;
          border-radius: 8px;
          background-color: $lightGray;
          color: $mediumBlue;
          outline: none;
        }
      }
    }

    .form-bottom {
      display: flex;
      justify-content: space-between;
      background-color: $lightGray;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      padding: 20px;
      .attention-container {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-left: -10px;
        width: 250px;
        .attention-icon {
          color: $mediumBlue;
          font-size: 30px;
        }
        p {
          margin: 0 10px;
        }
      }
    }
    .error-message {
      color: red;
      font-size: 14px;
    }
  }
}

.modal-title {
  padding-top: 30px;
}
.modal-message {
  padding: 10px;
  text-align: center;
}

.woman-with-phone {
  height: 250px;
  padding-bottom: 10px;
}
