@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto:wght@400;500&display=swap');

@import './vars.scss';

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $fontBody;
}
