@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto:wght@400;500&display=swap');

// Colors
$darkBlue: #03256C;
$mediumBlue: #1768AC;
$lightBlue: #E1ECF2;
$borderColor: #e6e6f0;
$buttonPrimary: #04D361;

$lightGray: #FAFAFC;
$white: #fff;

$yellowGolden: #E6AF2E;

// Font
$fontTittle: 'Nunito', sans-serif;
$fontBody: 'Roboto', sans-serif;